Babel==2.11.0
Bottleneck==1.3.7
Brotli==1.0.9
certifi==2024.7.4
charset-normalizer==3.3.2
cmcrameri==1.9
contourpy==1.2.0
cycler==0.11.0
dill==0.3.8
docutils==0.18.1
fonttools==4.51.0
idna==3.7
imagesize==1.4.1
Jinja2==3.1.4
kiwisolver==1.4.4
MarkupSafe==2.1.3
matplotlib==3.8.4
numexpr==2.8.7
numpy==1.26.4
packaging==24.1
pandarallel==1.6.4
pandas==2.2.2
pillow==10.4.0
pip==24.0
psutil==5.9.0
Pygments==2.15.1
pyparsing==3.0.9
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
ruamel.yaml==0.17.21
scipy==1.13.1
setuptools==69.5.1
six==1.16.0
snowballstemmer==2.2.0
Sphinx==7.3.7
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.10
tornado==6.4.1
tzdata==2023.3
unicodedata2==15.1.0
urllib3==2.2.2
wheel==0.43.0
